*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #000000;
}

.cabecalho img{
    width: 30%;
    max-width: 30%;
    display: block;
}

.cabecalho nav{
    display: flex;
    justify-content: space-around;
    width: 60%;
    height: 100%;
    flex-wrap: wrap;

}

.cabecalho a{
    text-decoration: none;
    font-size: 4em;
    font-weight: 700;
    color: #fff;
    text-align: center;
    padding: 20% 0;
}

.cabecalho a:hover{
    background-color: #fff;
    color: #000000
}

.tit-sec{
    text-align: center;
    font-size: 4em;
    }

.conteudo {
    display: flex;
    flex-wrap: wrap;
    max-width: 880px;
    margin: 0 auto;
}

.conteudo img{
    max-width: 100%;
    display: block;
}
.conteudo > div{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
}

.rodape nav{
    
    justify-content: space-around;
    width: 50%;
    height: 50%;
    flex-wrap: none;
}
.rodape img{
    max-width: 10%;
    
}


